{% load staticfiles %}
{% block content %} 
<head>

    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content=""> <meta name="author" content=""> 
      <link rel="icon" href="https://scontent.flos1-1.fna.fbcdn.net/v/t1.0-9/fr/cp0/e15/q65/82385801_852218265249534_6502620983390633984_n.jpg?_nc_cat=108&efg=eyJpIjoiYiJ9&_nc_eui2=AeEPjJLCyl0RdwroHjSMOQTKmNCqJFxN6mw1RMxVDBXicC9hSIMtfsZO6SLV57gibtrfNi17dqAX0SEQBEgPNxEQgZdWa_JsSscaUbz40w31QA&_nc_ohc=ozSZJymIC-QAX8YUzNW&_nc_ht=scontent.flos1-1.fna&_nc_tp=12&oh=916f61e02224d215d23b9e1bfaaa8c99&oe=5EA787B8"> 
      <title>Welcome to Nollytics </title>
      <!-- Bootstrap core CSS --> 
      <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet"> 
      <!-- Custom styles for this template --> <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet"> <link href="https://getbootstrap.com/docs/4.0/examples/blog/blog.css" rel="stylesheet"> <!---For the base --> 

      <link rel='stylesheet' href="{% static 'accounts/bootstrap.css' %}">
      <link rel='stylesheet' href="{% static 'accounts/blog.css' %}">

      <style>  
       </style> 
      </head> 
      <body>    
        <div class="container"> 

     <!-- /.blog-main --> <aside class="col-md-10 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
       <center><h2 class="font-italic">Contact</h2> </center>
       <p class="mb-0"><h3>My name is</h3> <em><h2>Adesiyan Oladipo.</h2></em> <h3>I just finished working on some parts of this website. Let me know what you feel concerning this website by messaging me on Whatsapp +2348147103054. Thanks</h3></p> 
     </div>
      <div class="p-3"> <h4 class="font-italic">Elsewhere</h4>
       <ol class="list-unstyled"> <li>
        <a href="https://instagram.com/oladipo_codes">Instagram</a></li> <li><a href="https://twitter.com/oladipo_codes">Twitter</a></li> <li><a href="wwww.facebook.com/Ogeneral2006">Facebook</a></li> </ol> </div>

       </aside><!-- /.blog-sidebar --> </div><!-- /.row --> </main><!-- /.container --> 
       <footer class="blog-footer"> <p>Nollytics by <a href="https://instagram.com/oladipo_codes">Adesiyan Oladipo</a> 
       </p>
      
     </footer> 
     <!-- Bootstrap core JavaScript ================================================== --> <!-- Placed at the end of the document so the pages load faster --> <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
     <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/examples/blog/assets/js/vendor/jquery-slim.min.js"><\/script>')</script> 
     <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script> 
     <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script> 
     <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script> 
     <script> Holder.addTheme('thumb', { bg: '#55595c', fg: '#eceeef', text: 'Thumbnail' }); </script>
      </body> 
      {% endblock %}





