{% extends "base.html" %} 
{% block body %}
<head>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/blog/blog.css" rel="stylesheet">
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
      <title>{{ post.Your_Post_title }}</title>
      
      </head>
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                  <CENTER>  
           Top 10 Nollywood movies of the year
               
                </CENTER>
                </div>
            </div>
        </div>
    </div>
</header>


          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            

              <strong class="d-inline-block mb-2 text-primary">Nollywood today</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">
                10. Baby Steps
              </a>
              </h3>
   <center>           <img src="https://i.ytimg.com/vi/PItDtShiEA0/sddefault.jpg#404_is_fine" height="300px" width="250px"> </center>
         <strong>    Willis Ikedum’s </strong> ‘Baby Steps’ blazed the trail this year for some of the top films that blessed 2019. Produced and directed by Ikedum, the movie had an interesting theme that is relatable - A casanova gets served with a baby. He must combine work, lifestyle and being an emergency dad. The movie combines fiction and reality to give a fine storyline which was well interpreted by the cast that includes <strong>Enyinna Nwigwe, Bimbo Akintola, Segun Arinze,   </strong>  and  <strong>   Mudiaga Ogheneovo.   </strong>  The movie had good reviews from film critics and viewers alike. Overall, the movie’s directing, acting and post-production were on point.
             
              </div>
       
        




      </div>
    </div>
  </div>
</div>







   <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            

              <strong class="d-inline-block mb-2 text-primary"></strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">
                9. Cold feet
              </a>
              </h3>
  <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTbqtG2gYim9u26ZzEBnWsCpXSk2_r56to4TgqfuCThjcInxZE-" height="300px" width="250px"> 
  


         <strong>  'Cold Feet'</strong>  is one of the movies that made 2019 a great year for lovers of Nollywood. Aside from bringing back  <strong>Joselyn Dumas and Jim Iyke to collaborate with Enyinna Nwigwe and Beverly Naya, </strong> ‘Cold Feet’ as directed by<strong>Moses Inwang </strong> is an interesting film. With a good storyline that revolves around two ex-lovers, who met again while being married to different spouses, ‘Cold Feet,’ had <strong> Enyinna and Joselyn </strong> interpreting their roles convincingly and  <strong>Jim Iyke alongside Beverly Naya </strong> playing the victims. Overall, it was a well-accepted movie by viewers and critics.


              </div>
       
        




      </div>
    </div>
  </div>
</div>












   <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            

              <strong class="d-inline-block mb-2 text-primary"></strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">
                8. Joba
              </a>
              </h3>
  <img src="https://ocdn.eu/pulscms-transforms/1/47TktkpTURBXy9iYTU0MjhhY2YwNDVhNzk5NGE2NjJjOThjODdkOTlhMS5wbmeTlQMTAM0CvM0BipMFzQMUzQG8lQfZMi9wdWxzY21zL01EQV8vMjMzN2M5ZmQ2YjkzMWVlNmNiMGQyM2RjYmEyNThhOWQucG5nAMIA" height="300px" width="250px">



<strong>‘Joba’</strong>did to 2019 exactly what ‘God Calling’ did to 2018. ‘Joba’ a faith-based movie by <strong>Biodun Stephen </strong>is one of the movies that got acceptance from movie buffs and critics. The story is a common one in the Nigerian society of today. A loving couple is beginning to have their faith tested after they were unable to have children a few years into their wedding. A well-told story with good directing skills from <strong>Stephen</strong> and thorough post-production sees <strong>Blossom Chukwujekwu </strong>and <strong>Enado Odigie </strong>giving their best performance.
   </div>
       
      </div>
    </div>
  </div>
</div>










   <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            

              <strong class="d-inline-block mb-2 text-primary"></strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">
                7. Nimbe
              </a>
              </h3>
  <img src="https://lh5.googleusercontent.com/proxy/aPyTjqdmuCQ1Y2wKnMEhW3CgPtW-VNEzA1GqsQup2Hov5Q27wdwpQdL6PPDUjLGIB-Fn_rrczuTMzCLlemPdI-GFDRwUEwLNXDZBOBFvuPWJXowZIP2R1hd8l8K_bZKGciMX_TgPbEOBh9PsRpm08SX5yAgJzI2AEO9jT3DNmQABC6iA4KlRS1OIjDjCRxov702X5iRhdQ=w322-h457" height="300px" width="250px">



<strong>Tope Alake</strong> returns for the interesting movie, Nimbe, in 2019. The Nigerian drama dealt with social vices regarding drug abuse. Featuring <strong>Chimezie Imo</strong>, who plays the convincing lead role of Nimbe,<strong> Toyin Abraham,</strong> who plays the role of Nimbe’s mum,<strong> Rachael Okonkwo, and Odunlade Adekola.</strong> Alake’s direction is heavily noticed in the character interpretation most especially by<strong> Chimezie Imo and Toyin Abraham. </strong>The picture quality and choice of location synced to give the film a true depiction of the decadence in Lagos slums.

   </div>
       
      </div>
    </div>
  </div>
</div>



          
    
          
                      

   <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            

              <strong class="d-inline-block mb-2 text-primary"></strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">
                6. Love
              </a>
              </h3>
  <img src="https://1.bp.blogspot.com/-adKTpsz8Zfk/Xb8gnOQEqxI/AAAAAAAAAK0/bnQFmrblL-IH6B1QFeKJqjlwZV1x1iVFwCLcBGAsYHQ/s1600/love-is-war-722x1024.jpg" height="300px" width="250px">



‘Love is war’ is one of <strong>Omoni Oboli’s </strong>best films that has been released so far. An interesting storyline that mixes the drama of politics with a family unit in Ondo State. The intense drama about a husband and wife battling for the governorship seat is directed by Omoni and well interpreted by<strong> Richard Mofe Damijo and Omoni Oboli, </strong>who plays the couple. Omoni had no issues killing the story with the quality of the cast and teaming up with Inkblot studios to work on other production and post-production issues. This is another film that enjoyed good reviews from the audience and movie buffs.

   </div>
       
      </div>
    </div>
  </div>
</div>









   <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            

              <strong class="d-inline-block mb-2 text-primary"></strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">
                5. Coming from Insanity
              </a>
              </h3>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQU05vGi2ClzNO567r73Td2JMR43MWnhfVWuF7yzppJZXlft_g" height="300px" width="250px">

Coming from Insanity’ is one of the top movies in 2019. Based on the true-life story, ‘Coming from Insanity’ is a crime drama on the awe-inspiring true story of ‘Kossi the Bear,’ a notorious currency counterfeiter with genius-level intelligence. Featuring 
 <strong>Wole Ojo, Wale Ojo, Tina Mba, Dakore Akande, Damilola Adegbite and Gabriel Afolayan
 </strong>, who plays the lead role, the film remains one of the best in 2019. Written and directed by
 <strong> Akinyemi Sebastian Akinropo
 </strong>, the film makes the list of top films. The role interpretation, camera angles, post-production and quality of picture stands this film out as one of the best to be released in 2019.
   </div>
       
      </div>
    </div>
  </div>
</div>








   <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            

              <strong class="d-inline-block mb-2 text-primary"></strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">
                4. Code Wilo
              </a>
              </h3>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1jbHZuM1oXlO10g76KNVE41y6YNEjfrzsJ-UZ_Laq2M7aGsxw" height="300px" width="250px">


‘Code Wilo’ is directed by <strong> Mike-Steve Adeleye </strong>and produced by Hauwa Allahbura. It has a simple but yet catchy storyline. The film takes viewers on a journey of a dark twisted plot delivered raw. The 2019 effort is about a powerful South-South politician in Nigeria, his son, daughter and an enemy within. <strong>Mike-Steve’s </strong>work on the entire project up until the post-production and martial arts were some of the attributes that stood the film out. ‘Code Wilo’ is one of the critically acclaimed films of 2019.


   </div>
       
      </div>
    </div>
  </div>
</div>








   <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            

              <strong class="d-inline-block mb-2 text-primary"></strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">
                3. The Set Up
              </a>
              </h3>
  <img src="https://i0-wp-com.cdn.ampproject.org/i/s/i0.wp.com/cinemashed.com/wp-content/uploads/2019/08/the-set-up-download.jpg?resize=436%2C545&ssl=1" height="300px" width="250px">




Producers of ‘The Set Up’, Inkblot studios and Anakle films, were certain they were making a worthy film a year after their joint effort, ‘Up North’. And when <strong>Niyi Akinmolayan</strong> was contracted to direct the film, it became a no brainer that it will be one of the best films of the year. The cast and crew of the film were some of the criteria that made it a sellable project in cinemas. The martial arts, action and good use of lights on the project is both commendable but laudable. The film reunites <strong>Tina Mba, Dakore Akande, Adesua Etomi-Wellington and Joke Silva.</strong>

   </div>
       
      </div>
    </div>
  </div>
</div>








   <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            

              <strong class="d-inline-block mb-2 text-primary"></strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">
                2. 4th Republic
              </a>
              </h3>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSSiG4Q1G8zyn24Xlaf4LDVh7lsy0ZfS3PFfvTA6bb5QwAvmcEY" height="300px" width="250px">







<strong>Ishaya Bako</strong>has always created a conversation whenever he writes or directs and film. And for a political thriller, ‘4th Republic’ is a brilliant attempt that paid off. ‘4th Republic’ is a thrilling political procedural that chronicled Nigeria’s political and electoral system in the last two decades. While the writers exploited a tight screenplay that is relatable, Bako brought the words to live void of distraction, direct, and succinctly clear. ‘4th Republic’ is sharp-witted and fiery like many political thrillers that come out distinct despite being weaved in a web of melodrama. After 10 mins, viewers are hooked on the 120mins long film. It undoubtedly sits on the list of best movies for 2019.




   </div>
       
      </div>
    </div>
  </div>
</div>










   <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            

              <strong class="d-inline-block mb-2 text-primary"></strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">
                1.  Living in Bondage: Breaking Free
              </a>
              </h3>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQRI3TktQtpKzMX7GH2jgg5pHPSPx9mzeZPkYH_R_jlWZTFppV" height="300px" width="250px">


From the opening montage that sees <strong>Obinna Omego (played by Enyinna Nwigwe) </strong>driving a young girl to a thick forest to behead her, ‘Living in Bondage: Breaking Free’ sets an unusual pace that keeps the viewers mind racing back to the events that made the 1992 blockbuster a hit. It reeks of sheer suspense and<strong> Ramsey Tokunbo Nouah</strong> was able to convince fans that he’s talented as an actor as well as a director. The picture quality and post-production synced with the directorial and acting credits to make it the best film out of Nollywood in 2019.


   </div>
       
      </div>
    </div>
  </div>
</div>











{% endblock %}